[submodule "prebuilt"]
	path = prebuilt
	url = https://github.com/airgap-devkit/prebuilt.git
[submodule "airgap-devkit-manager"]
	path = airgap-devkit-manager
	url = https://github.com/airgap-devkit/manager.git
[submodule "tools"]
	path = tools
	url = https://github.com/airgap-devkit/tools.git
